.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff !important;
    font-weight: 300;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}